// Import UIkit default theme (or uikit.less with only core styles)
@import "node_modules/uikit/src/less/uikit.theme.less";

@brand-dark-blue: #0D324D;

@max1024Breakpoint: 1199px;
@min1024Breakpoint: 560px;

@minTabletBreakpoint: 768px; 
@maxTabletBreakpoint: 1024px;
@mobileBreakpoint: 559px;

// Calculations
@desktopLargeBreakPoint: (@max1024Breakpoint + 1px);
@mobile-lg-max-width: (@min1024Breakpoint - 1px);


// Breakpoints
// ------------------------- Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@mobile:      ~"only screen and (max-width: @{mobileBreakpoint})"; // < 559px

@mobile-lg:   ~"only screen and (min-width: 540px) and (max-width: @{mobile-lg-max-width})"; // 540 - 559px


@desktop:	  ~"only screen and (min-width: @{min1024Breakpoint})"; // > 560px
@desktop-sm:  ~"only screen and (min-width: @{min1024Breakpoint}) and (max-width: @{max1024Breakpoint})"; // 560 - 1520px
@desktop-lg:  ~"only screen and (min-width: @{desktopLargeBreakPoint})"; // > 1519px

.brand-dark-blue {
	color: @brand-dark-blue;
}

.bg-brand-dark-blue {
	background-color: @brand-dark-blue;
}

.taco-header{

	width: 100%;
	height: 100vh;
	min-height: 600px;
	overflow:hidden;

	&:after{
		content: "";
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    opacity: .45;
	    background-color: #0d324d;
	    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	}

	&-intro {
		margin: 3rem 0;
		text-align: center;
	    font-size: 1.25rem;

	    @media @desktop{
	    	text-align: left;
	    	margin: 5rem 3rem 3rem 8rem;
	    	font-size: 1.45rem;
	    	border-left: 3px solid #FFD800;
	    	padding-left: 3rem;
	    }

	    @media @desktop-lg{
	    	font-size: 1.65rem;
	    }
	    
	}

	&-video{
		max-width: none;
	}
	
}

// temporary
.uk-article-title {
	display: none;
}